* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}

header {
    background-color: rgb(0, 68, 131);
    text-align: center;
    border: solid 1px;
    padding: 2px;
}

#info-personal, #habilidades {
    margin: 5px;
    padding: 20px;
}

#info-personal h2, #habilidades h2 {
    font-size: 25px;
}

#habilidades ul {
    list-style-type: square
}

footer {
    background-color: rgb(0, 68, 131);
    text-align: center;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*moviles*/
@media only screen and (max-width: 600px) {
    header, #info-personal, #habilidades {
        padding: 10px;
    }

    h1, h2 {
        font-size: 15px;
    }
}

/*tablets*/
@media only screen and (min-width: 601px)  and (max-width: 1024px){
    header, #info-personal, #habilidades {
        padding: 20px;
    }

    h1, h2 {
        font-size: 22px;
    }
}

/*pantallas de escritorio*/
@media only screen and (min-width: 1025px){
    header, #info-personal, #habilidades {
        padding: 30px;
    }

    h1, h2 {
        font-size: 28px;
    }
}
